body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

header{
    height: 64px;
    width: 100%;
    display: flex;
}
/*HEADER LEFT*/

#header_left{
    display: flex;
    align-items: center;
    padding-right: 51%;
}
.lion_logo{
    padding: 0 0 0 24px;
}
.colmar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(47, 46, 46);
}
.academy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color:gray;
}
/*HEADER RIGHT*/

#header_right{
    display: flex;
    align-items: center;
}
#header_right ul{
    display: flex;
    list-style: none;
}
#header_right li{
    padding-left: 16px;
}

/*FISRT SECTION*/

#first_section{
    background-color: rgb(195, 193, 193);
    display: flex;
    gap: 12px;
    width: 100%;
}
.banner img{
    padding: 32px 24px 32px 24px;
    flex-basis: 60%;
    box-sizing: border-box;
    
}
.learn_something{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 0 0 0 24px;
}
.learn_something h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(86, 85, 85);
    font-weight: 800;
}
.learn_something h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(86, 85, 85);
    font-weight: 600;
}
button{
    background-color: rgb(64, 64, 64);
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    border: rgb(64, 64, 64) 2px solid;
    color: white;
    transition: all .4s ease-in-out .1s;
    align-items: center;
}
button:hover{
    background-color: white;
    color: black;
}