body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

header{
    height: 64px;
    width: 100%;
    display: flex;
}
/*HEADER LEFT*/

#header_left{
    display: flex;
    align-items: center;
    padding-right: 38%;
}
.lion_logo{
    padding: 0 0 0 24px;
}
.colmar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(47, 46, 46);
}
.academy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color:gray;
}
/*HEADER RIGHT*/

#header_right{
    display: flex;
    align-items: center;
}
#header_right ul{
    display: flex;
    list-style: none;
}
#header_right li{
    padding-left: 16px;
}

/*FISRT SECTION*/

#first_section{
    background-color: rgb(215, 213, 213);
    display: flex;
}
