body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

#header_container{
    height: 64px;
    width: 100%;
    display: inline-flex;
}
.lion_logo{
    margin: 0 0 0 24px;
    display: inline-flex;
    align-items: center;
}
.colmar{
    display: inline-flex;
    align-items: center;
    color: black;
    font-size: 32px;
}
.academy{
    display: inline-flex;
    align-items: center;
    color: darkgray;
    font-size: 32px;
}
#header_links{
    display: inline-flex;
    justify-content: space-around;
    margin-right: 24px;
}
.word_one{
    display: inline-flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-right: 16px;

}
.word_two{
    display: inline-flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-right: 16px;


}
.word_three{
    display: inline-flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-right: 16px;


}
.word_four{
    display: inline-flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-right: 24px;


}